*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.div1{
    margin: 20px;
    border: 10px solid rgb(102, 16, 148);
    background-color: whitesmoke;
}

.div2{
    margin: 40px;
    border: 10px double purple;
    background-color: white;
    padding: 15px;
}

h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(33, 6, 152);
    text-align: center;
    margin-top: 10px;
}

p{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(33, 6, 152);
    text-align: center;
}